Interface = require('Interface')
-- Edit Interface.path to the root directory of the project. Make sure to include trailing slash!
Interface.path  = ""
Interface.datapath = Interface.path .. "Data/"
Interface.libpath = Interface.path .. "lib/"
Interface.configpath = Interface.path .. "config/"

-- Edit following line to set an "Acitve" Nerual net.
-- The value is just the variable of the Nerual net from the Neural Net Lib.
-- i.e. NeuralNets.Active = NeuralNets.First
NerualNets.Active =